* {
  margin: 0;
}

#transaction-area {
  display: none;
}

.form-card {
  /* width: 70%; */
  margin: 0 auto;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
  padding: 2rem 2rem;
  margin-top: 20px;
}

.bg-orange {
  background-color: mediumslateblue;
}

.bg-blue {
  background-color: sandybrown;
}

.bg-teal {
  background-color: goldenrod;
}

.transition-card {
  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: 15px;
  color: #fff;
}

.btn-primary {
  margin-top: 10px;
}
